<!DOCTYPE html>
<html>
<head>
	<title>Create Container</title>
</head>
<body>
	<h1>Create Container</h1>
	<h1>Fill the CT Details</h1>
	<form class="create_container" action="Success" method="get">
        <label for="cname">Container Name</label><br>
        <input id="cname" type="text" name="" value=""><br>
        <label for="user_id">User Id</label><br>
        <input id="user_id" type="number" name="" value=""><br>
        <label for="submit"></label>
        <input id="submit" type="submit" name="" value="Create">



      </form>


</body>
</html>